@model SW_MVC.Models.City

@{
    ViewBag.Title = "Sunrise and Sunset Times";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>Name: @ViewBag.Name</p>
<p>SunRiseTime: @ViewBag.SunRiseTime</p>
<p>SunSetTime: @ViewBag.SunSetTime</p>