SolarWatch/SolarWatch.sln.DotSettings.user
SolarWatch/.idea/.idea.SolarWatch/.idea/aws.xml
SolarWatch/.idea/.idea.SolarWatch/.idea/indexLayout.xml
SolarWatch/.idea/.idea.SolarWatch/.idea/vcs.xml
SolarWatch/SolarWatch/Migrations/20231107151528_initialMigration.cs
SolarWatch/SolarWatch/Migrations/20231107151528_initialMigration.Designer.cs
SolarWatch/SolarWatch/Migrations/20231107160007_addRoles.cs
SolarWatch/SolarWatch/Migrations/20231107160007_addRoles.Designer.cs
SolarWatch/SolarWatch/Migrations/UserContextModelSnapshot.cs
SolarWatch/SolarWatch/Migrations/CityApi/20231107151557_initialMigration.cs
SolarWatch/SolarWatch/Migrations/CityApi/20231107151557_initialMigration.Designer.cs
SolarWatch/SolarWatch/Migrations/CityApi/CityApiContextModelSnapshot.cs
SolarWatch/SolarWatch/obj/Debug/net7.0/SolarWatch.AssemblyInfo.cs
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/appsettings.Development.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/appsettings.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Azure.Core.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Azure.Identity.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Castle.Core.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/CoverletSourceRootsMapping
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Humanizer.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Identity.Client.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.OpenApi.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Mono.TextTemplating.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Moq.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Newtonsoft.Json.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/NuGet.Frameworks.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/nunit.engine.api.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/nunit.engine.core.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/nunit.engine.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/nunit.framework.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/NUnit3.TestAdapter.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatch.deps.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatch.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatch.exe
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatch.pdb
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatch.runtimeconfig.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchMvp.deps.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchMvp.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchMvp.exe
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchMvp.pdb
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchMvp.runtimeconfig.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchTestProject.deps.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchTestProject.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchTestProject.pdb
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SolarWatchTestProject.runtimeconfig.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SunriseSunsetTest.deps.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SunriseSunsetTest.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SunriseSunsetTest.pdb
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/SunriseSunsetTest.runtimeconfig.json
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.CodeDom.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Drawing.Common.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Memory.Data.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Runtime.Caching.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Security.Permissions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/System.Windows.Extensions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/testcentric.engine.metadata.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/testhost.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/testhost.exe
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
SolarWatch/SolarWatchTestProject/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
SolarWatch/SolarWatchTestProject/obj/project.assets.json
SolarWatch/SolarWatchTestProject/obj/project.nuget.cache
SolarWatch/SolarWatchTestProject/obj/project.packagespec.json
SolarWatch/SolarWatchTestProject/obj/rider.project.model.nuget.info
SolarWatch/SolarWatchTestProject/obj/rider.project.restore.info
SolarWatch/SolarWatchTestProject/obj/SolarWatchTestProject.csproj.nuget.dgspec.json
SolarWatch/SolarWatchTestProject/obj/SunriseSunsetTest.csproj.nuget.dgspec.json
SolarWatch/SolarWatchTestProject/obj/SunriseSunsetTest.csproj.nuget.g.props
SolarWatch/SolarWatchTestProject/obj/SunriseSunsetTest.csproj.nuget.g.targets
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.AssemblyInfoInputs.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.assets.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.csproj.AssemblyReference.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.csproj.CopyComplete
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.csproj.CoreCompileInputs.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.csproj.FileListAbsolute.txt
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.dll
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.genruntimeconfig.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SolarWatchTestProject.pdb
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.AssemblyInfo.cs
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.AssemblyInfoInputs.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.assets.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.csproj.AssemblyReference.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.csproj.CopyComplete
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.csproj.CoreCompileInputs.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.csproj.FileListAbsolute.txt
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.dll
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.GeneratedMSBuildEditorConfig.editorconfig
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.genruntimeconfig.cache
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.GlobalUsings.g.cs
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/SunriseSunsetTest.pdb
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/ref/SolarWatchTestProject.dll
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/ref/SunriseSunsetTest.dll
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/refint/SolarWatchTestProject.dll
SolarWatch/SolarWatchTestProject/obj/Debug/net7.0/refint/SunriseSunsetTest.dll
SolarWatch/SolarWatch/obj/Debug/net7.0/SolarWatch.AssemblyInfo.cs
