@page "/page/todos"
@model SolarWatchMinimal.Pages.Index_razor

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Todo list</title>
</head>
    <body>
        <div>
            There are a lot to do!
        </div>
    </body>
</html>